.sponsor-card {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    height: 100%;
}

.sponsor-card img {
    max-width: 100px;
    background-color: unset;
}

.sponsor-card h1 {
    font-size: 1.5rem;
}

.tier-container {
    display: flex;
    gap: 0.5rem;
}

.team-link {
    display: flex;
    gap: 0.5rem;
}

.level-sponsor-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.sponsor-content {
    display: none;
    flex-direction: column;
}

.tier-label {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}

.tier-container > a {
    text-decoration: none;
    text-wrap: nowrap;
}

.relative {
    position: relative;
}
.sponsor-card.absolute {
    opacity: 0;
}
.sponsor-card:hover > .sponsor-content {
    display: flex;
}

.sponsor-card:hover.absolute {
    opacity: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    scale: 1.25;
}